.border{
    border: 2px solid red;
    margin: 3px;
 }
 .flex{
    display:flex
 }
 .justify-center{
    justify-content: center;
 }
 .item-center{
    align-items: center;
 }
 .bg-black{
    background-color: black;
    color: white;
 }
 /* black-> white */
 .invert{
    filter: invert(1); 
 }
 .bg-gray{
    background-color: #121212;
 }
 .rounded{
    border-radius: 7px;
 }
 .m-1{
    margin: 5px;
 }
 .p-1
 {
    padding: 10px;
 }
/* Width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121212;
}

/* Thumb */
::-webkit-scrollbar-thumb {
  background: #2a2a2a;
  border-radius: 10px;
  border: 2px solid #121212;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3a3a3a;
}
